.num {
	width:21%;
	height:60px;
	font-size:32pt;	
	margin:5px;
	font-family:'Inconsolata';
}

.equals {
	width:21%;
	height:60px;
	margin:5px;
	font-size:32pt;	
	background-color:#6599FF;
	color:#ffffff;
	font-family:'Inconsolata';	
}

.operator {
	width:21%;
	height:60px;
	margin:5px;
	font-size:32pt;	
	background-color:#cccccc;
	font-family:'Inconsolata';
}

.clear {
	width:21%;
	height:60px;
	margin:5px;
	font-size:32pt;	
	background-color:#cccccc;
	font-family:'Inconsolata';
}

#textField {
	float:right;
}

#output {
	
	font-size:40pt;	
	padding:5px;
	font-family:'Inconsolata';
}

#wrapper {
	width:330px;	
}

#output {
	margin:5px;
	height:60px;
	background-color:#fff;	
	border-style:inset;
	border-width:2px;
}